@font-face {
  /* Visit URL: https://www.dafont.com/made-saonara.font */
  font-family: "Saonara";
  src: url("./Assets/Saonara.otf") format("opentype");
}
@font-face {
  /* Visit URL: https://www.dafont.com/made-saonara.font */
  font-family: "Saonara 2";
  src: url("./Assets/Saonara 2.otf") format("opentype");
}
@font-face {
  /* Visit URL: https://www.dafontfree.io/geliat-font/ */
  font-family: "Geliat Extrabold";
  src: url("./Assets/Geliat Extrabold.otf") format("opentype");
}
@font-face {
  /* Visit URL: https://www.dafontfree.io/geliat-font/ */
  font-family: "Geliat Extralight";
  src: url("./Assets/Geliat Extralight.otf") format("opentype");
}
html {
  --header-height: 70px;
  --header-margin-vertical: 18px;
  --transition-duration-default: 350ms;
  --padding-section-horizontal: 20px;
  --color-accent: #ac3123;
  --color-bright: white;
  --color-dark: black;
  /* Animations */
  --animation-duration-default: 1.2s;
  --animation-timing-function-default: ease-out;
  --animation-delay-default: 350ms;
  --animation-direction-default: normal;
  --animation-iteration-count-default: 1;
  --animation-fill-mode-default: both;
  /* Animation fade in up */
  --animation-fade-in-up-transform-offset: 10vh;
  --animation-fade-in-up: fade-in-up var(--animation-duration-default) ease-in var(--animation-delay-default) var(--animation-fill-mode-default);
  /* Scroller mechanism */
}
@media screen and (min-width: 768px) {
  html {
    --padding-section-horizontal: 12.5vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    height: 100vh;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
  }
  html section {
    scroll-snap-align: start;
    scroll-margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    border-bottom: 1px solid var(--color-bright);
    display: flex;
    align-items: center;
  }
  html section.opening-slider {
    scroll-margin-top: calc(var(--header-height) + 2*var(--header-margin-vertical));
  }
}

body {
  margin: 0;
  background-color: black;
  color: var(--color-bright);
}

a {
  text-decoration: none;
  color: var(--color-bright);
}
a.btn {
  display: inline-block;
  padding: 19px 36px;
  border: 1px solid var(--color-accent);
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0;
}

button {
  padding: 19px 36px;
  border: 1px solid var(--color-accent);
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0;
  color: var(--color-bright);
  background-color: transparent;
  cursor: pointer;
}

.image-container {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.image-container img {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  background-color: var(--color-bright);
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header .logo-container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  margin-left: 20px;
}
header .logo-container .logo {
  height: 70%;
}
header .logo-container .logo.bright {
  display: none;
}
header #mobile-menu-icon {
  color: var(--color-dark);
  padding: 10px;
  margin-right: 10px;
  font-size: 1.7em;
}
header nav {
  display: none;
}
header.mobile-nav-active {
  height: 100vh;
  flex-wrap: wrap;
}
header.mobile-nav-active nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));
}
header a {
  padding: 11px 18px;
  font-size: 30px;
  transition-duration: var(--transition-duration-default);
  color: var(--color-dark);
}
header a:last-child {
  text-decoration: underline var(--color-accent);
  text-underline-offset: 5px;
}
header a:last-child::first-letter {
  color: var(--color-accent);
}
@media screen and (min-width: 768px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: var(--header-margin-vertical) auto;
    padding: 0 var(--padding-section-horizontal);
    width: calc(100% - 2 * var(--padding-section-horizontal));
    transition-duration: var(--transition-duration-default);
    background-color: transparent;
  }
  header nav {
    display: flex;
    align-items: center;
  }
  header a {
    color: var(--color-bright);
    font-size: large;
  }
  header.sticky {
    background-color: var(--color-bright);
  }
  header.sticky .logo-container .logo.bright {
    display: none;
  }
  header.sticky a {
    color: var(--color-dark);
  }
  header:not(.sticky) .logo-container .logo.dark {
    display: none;
  }
  header:not(.sticky) .logo-container .logo.bright {
    display: block;
  }
  header .logo-container {
    width: 30%;
    margin-left: 0;
  }
  header #mobile-menu-icon {
    display: none;
  }
}

section {
  padding: 0 var(--padding-section-horizontal);
  overflow-x: hidden;
}
section:not(:last-of-type) {
  margin-bottom: 5vh;
}
section:first-of-type {
  margin-top: var(--header-height);
}
@media screen and (min-width: 768px) {
  section:first-of-type {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  section {
    margin-bottom: 0;
  }
}

.opening-slider a.btn:nth-of-type(2) {
  border-color: var(--color-bright);
}
@media screen and (min-width: 768px) {
  .opening-slider {
    height: calc(100vh - var(--header-height) - 2*var(--header-margin-vertical));
    display: flex;
    align-items: center;
  }
  .opening-slider .block-left {
    width: 40%;
    height: 70%;
  }
  .opening-slider .block-left p {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .opening-slider .block-left .btn {
    margin-right: 20px;
  }
}

.payoff {
  flex-direction: column;
  justify-content: center;
}
.payoff h2 {
  margin-top: 20px;
}

.two-cards {
  align-items: center;
}
@media screen and (min-width: 768px) {
  .two-cards .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .two-cards .container .text-container {
    text-align: center;
  }
  .two-cards .container .two-columns {
    flex-basis: 48%;
  }
  .two-cards .container .image-container {
    height: 340px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .services-grid .grid {
    flex-basis: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  }
  .services-grid .service-grid {
    margin-bottom: 50px;
  }
  .services-grid .service-grid:not(:last-child) {
    margin-right: 20px;
  }
  .services-grid i {
    margin-bottom: 10px;
  }
  .services-grid p {
    margin-bottom: 30px;
  }
  .services-grid a {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-us {
    display: flex;
    justify-content: space-between;
  }
  .about-us span {
    color: var(--color-accent);
  }
  .about-us .two-columns {
    flex-basis: 48%;
  }
  .about-us p {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .clients {
    flex-direction: column;
    justify-content: space-around;
  }
  .clients .client-logos {
    width: 100%;
    background-color: lightgray;
    height: 10vh;
  }
  .clients .text-container {
    width: 50%;
    text-align: center;
  }
}

.contact-us .form-container form {
  margin-bottom: 20px;
}
.contact-us .form-container form label input, .contact-us .form-container form label textarea {
  padding: 19px 36px;
  background-color: transparent;
  border: 1px solid var(--color-bright);
  color: var(--color-bright);
  font-size: 16px;
  display: block;
  width: calc(100% - 36px*2 - 2px);
  margin-bottom: 10px;
}
.contact-us .form-container form label input::placeholder, .contact-us .form-container form label textarea::placeholder {
  color: var(--color-bright);
  transition-duration: var(--transition-duration-default);
  opacity: 0.7;
}
.contact-us .form-container form label input:focus::placeholder, .contact-us .form-container form label textarea:focus::placeholder {
  opacity: 0.2;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
.btn,
button {
  font-family: "Saonara";
}

p,
span,
nav a {
  font-family: "Geliat Extralight";
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 24px;
    margin: 22px auto 15px auto;
  }

  p {
    font-size: 16px;
  }
}
.subtitle {
  display: inline-block;
  color: var(--color-accent);
}

footer {
  background-color: var(--color-bright);
  color: var(--color-dark);
  width: 100%;
  padding: 30px 0;
}
footer .logo-container {
  height: 5vh;
  display: flex;
  justify-content: center;
}
footer .logo-container img {
  height: 100%;
}
footer .footer-menu-container {
  text-align: center;
}
footer .footer-menu-container nav a {
  display: block;
  color: var(--color-dark);
}
@media screen and (min-width: 768px) {
  footer .high-footer {
    display: flex;
    justify-content: space-between;
  }
  footer .high-footer > div:first-child,
footer .low-footer > div:first-child {
    margin-left: var(--padding-section-horizontal);
  }
  footer .high-footer > div:last-child,
footer .low-footer > div:last-child {
    margin-right: var(--padding-section-horizontal);
  }
}

/* Keyframes */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(var(--animation-fade-in-up-transform-offset));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Applying animation named "fade-in-up" */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a.btn,
span.subtitle {
  animation: var(--animation-fade-in-up);
}

/*# sourceMappingURL=styles.css.map */
