@font-face {
  /* Visit URL: https://www.dafont.com/made-saonara.font */
  font-family: "Saonara";
  src: url("./Assets/Saonara.otf") format("opentype");
}
@font-face {
  /* Visit URL: https://www.dafont.com/made-saonara.font */
  font-family: "Saonara 2";
  src: url("./Assets/Saonara 2.otf") format("opentype");
}
@font-face {
  /* Visit URL: https://www.dafontfree.io/geliat-font/ */
  font-family: "Geliat Extrabold";
  src: url("./Assets/Geliat Extrabold.otf") format("opentype");
}
@font-face {
  /* Visit URL: https://www.dafontfree.io/geliat-font/ */
  font-family: "Geliat Extralight";
  src: url("./Assets/Geliat Extralight.otf") format("opentype");
}
html {
  --header-height: 70px;
  --header-margin-vertical: 18px;
  --transition-duration-default: 350ms;
  --padding-section-horizontal: 100px;
  --color-accent: #ac3123;
  --color-bright: white;
  --color-dark: black;
  /* Animations */
  --animation-duration-default: 0.8s;
  --animation-timing-function-default: ease-in;
  --animation-delay-default: 0;
  --animation-direction-default: normal;
  --animation-iteration-count-default: 1;
  --animation-fill-mode-default: forwards;
  --animation-fade-in-up: fade-in-up var(--animation-duration-default) ease-in;
  /*
      var(--animation-duration-default)
      var(--animation-timing-function-default)
      var(--animation-delay-default)
      var(--animation-direction-default)
      var(--animation-fill-mode-default)*/
  /* Scroller mechanism */
}
html body > header,
html section,
html footer {
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  html {
    height: 100vh;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
  }
  html section {
    scroll-snap-align: start;
    scroll-margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    border-bottom: 1px solid var(--color-bright);
    padding: 0 var(--padding-section-horizontal);
    display: flex;
    align-items: center;
  }
  html section.opening-slider {
    scroll-margin-top: calc(var(--header-height) + 2 * var(--header-margin-vertical));
  }
}

body {
  margin: 0;
  background-color: black;
  color: var(--color-bright);
}

a {
  text-decoration: none;
  color: var(--color-bright);
}
a.btn {
  display: inline-block;
  padding: 19px 36px;
  border: 1px solid var(--color-accent);
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0;
}

button {
  padding: 19px 36px;
  border: 1px solid var(--color-accent);
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0;
  color: var(--color-bright);
  background-color: transparent;
  cursor: pointer;
}

header {
  position: fixed;
  background-color: var(--color-bright);
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-container {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
header .logo-container .logo {
  height: 70%;
  position: absolute;
}
header .logo-container .logo.bright {
  display: none;
}
header nav {
  display: none;
}
header #menu-icon {
  color: var(--color-dark);
  padding: 10px;
  margin: 10px;
}
header.mobile-nav-active {
  height: 100vh;
  width: 100%;
  flex-direction: column;
}
header.mobile-nav-active .logo-container {
  flex: 1;
}
header.mobile-nav-active nav {
  flex: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header a {
  padding: 11px 18px;
  font-size: 30px;
  transition-duration: var(--transition-duration-default);
  color: var(--color-dark);
}
header a:last-child {
  text-decoration: underline var(--color-accent);
  text-underline-offset: 5px;
}
header a:last-child::first-letter {
  color: var(--color-accent);
}
@media screen and (min-width: 768px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: var(--header-margin-vertical) auto;
    padding: 0 var(--padding-section-horizontal);
    width: calc(100% - 2 * var(--padding-section-horizontal));
    transition-duration: var(--transition-duration-default);
    background-color: transparent;
  }
  header nav {
    display: flex;
    align-items: center;
  }
  header a {
    color: var(--color-bright);
    font-size: large;
  }
  header.sticky {
    background-color: var(--color-bright);
  }
  header.sticky .logo-container .logo.bright {
    display: none;
  }
  header.sticky a {
    color: var(--color-dark);
  }
  header:not(.sticky) .logo-container .logo.dark {
    display: none;
  }
  header:not(.sticky) .logo-container .logo.bright {
    display: block;
  }
  header .logo-container {
    width: 30%;
  }
  header #menu-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .opening-slider {
    height: calc(100vh - var(--header-height) - 2 * var(--header-margin-vertical));
    display: flex;
    align-items: center;
  }
  .opening-slider .block-left {
    width: 40%;
    height: 70%;
  }
  .opening-slider .block-left p {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .opening-slider .block-left .btn {
    margin-right: 20px;
  }
}

.payoff {
  flex-direction: column;
  justify-content: center;
}
.payoff h2 {
  margin-top: 20px;
}

.two-cards {
  display: flex;
  justify-content: space-between;
}
.two-cards .text-container {
  text-align: center;
}
.two-cards .two-columns {
  flex-basis: 48%;
  overflow: hidden;
}
.two-cards .image-container {
  height: 340px;
  width: 100%;
  overflow: hidden;
}
.two-cards .image-container img {
  width: 100%;
}

.services-grid .grid {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.services-grid .service-grid {
  margin-bottom: 50px;
}
.services-grid .service-grid:not(:last-child) {
  margin-right: 20px;
}
.services-grid i {
  margin-bottom: 10px;
}
.services-grid p {
  margin-bottom: 30px;
}
.services-grid a {
  margin-bottom: 30px;
}

.about-us {
  display: flex;
  justify-content: space-between;
}
.about-us span {
  color: var(--color-accent);
}
.about-us .two-columns {
  flex-basis: 48%;
}
.about-us p {
  font-size: 20px;
}

.clients {
  flex-direction: column;
  justify-content: space-around;
}
.clients .client-logos {
  width: 100%;
  background-color: lightgray;
  height: 10vh;
}
.clients .text-container {
  width: 50%;
  text-align: center;
}

.contact-us .image-container {
  background-color: yellow;
}
.contact-us .email-form-container input[type=email] {
  padding: 19px 36px;
  background-color: transparent;
  border: 1px solid var(--color-bright);
  color: var(--color-bright);
  font-size: 16px;
}
.contact-us .email-form-container input[type=email]::placeholder {
  color: var(--color-bright);
  transition-duration: var(--transition-duration-default);
}
.contact-us .email-form-container input[type=email]:focus::placeholder {
  opacity: 0.2;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
.btn,
button {
  font-family: "Saonara";
}

p,
span,
nav a {
  font-family: "Geliat Extralight";
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 24px;
    margin: 22px auto 15px auto;
  }

  p {
    font-size: 16px;
  }
}
.subtitle {
  color: var(--color-accent);
}

footer {
  background-color: var(--color-bright);
  width: 100%;
  min-height: 20vh;
}

/* Keyframes */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=styles.css.map */
